@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");

@font-face {
  font-family: 'SquareSansSerif7';
  src: url('square-sans-serif-7.regular.ttf') format('truetype');
}

.menu {
    font-family: 'SquareSansSerif7';
    letter-spacing: 0.1em;
}

.title {
    font-family: 'SquareSansSerif7';
    letter-spacing: 0.3em;
    padding: 7px 0 0 7px;
    margin: 0;
    /*daf8f4*/
}

a {
    text-decoration: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin:0;
}
.launch_table {
	font-family: 'Roboto', sans-serif;
	width:100%;
    border-collapse: collapse;
    table-layout:fixed;
}

.launch_table th {
	color:#b40000;
	font-weight:normal;
}
.launch_table .title {
    color: #5353f9;
    font-size:large;
    letter-spacing: 2px;
}

.launch_table tr {
	border-top:1px solid #ccc;
}

.launch_table tr.odd {
	background-color: #eee;
}

.launch_table td {
	padding:2px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}

td.agency, td.rocket, td.payload, td.destination {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.launch_table td.date, .launch_table td.countdown, .selection_count {
	font-family: 'Inconsolata', monospace;
}

.icon {
	vertical-align: baseline;
    height: 1em;
}

label.filter {
    cursor: pointer;
    display:block;
    border:1px solid transparent;
    font-family: sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
}

#filter.gray_out_selections label.filter:not(.checked) {
    color: darkgray;
}

#launch_table.gray_out_unselected .unselected {
    color: darkgray;
}
#launch_table.gray_out_unselected .unselected img {
    opacity: 0.5;
}
#launch_table.hide_unselected .unselected {
    display: none;
}


.datepicker {
    width: 6em;
}

img.flag {
    width: 21px;
    vertical-align: baseline; 
}

.multiple_flags {
    display: none;
}

.multiple_flags_hover {
    font-size: smaller;
}

.multiple_flags_hover:hover + div {
    position: absolute;
    display: block;
    background: white;
    border: 1px solid black;
    padding: 3px;
}
