@import url("https://fonts.googleapis.com/css?family=Roboto:500");

.title {
    letter-spacing: 0.2em;
    padding: 7px 0 0 7px;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
	font-family: sans-serif;
	margin:0;
}
.launch_table {
	font-family: 'Roboto', sans-serif;
	width:100%;
    border-collapse: collapse;
    table-layout:fixed;
}

.launch_table th {
	color:#b40000;
	font-weight:normal;
}
.launch_table .title {
    color: #5353f9;
    font-size:large;
    letter-spacing: 2px;
}

.launch_table tr {
	border-top:1px solid #ccc;
}

.launch_table tr.odd {
	background-color: #eee;
}

.launch_table td {
	padding:2px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}

td.agency, td.rocket, td.payload, td.destination {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

td.agency {
    /*text-align: center;*/
}

.agency a, .rocket a {
    font-size: small;
    color: #b40000;
}
.agency a:hover, .rocket a:hover {
    color: blue;
}

td.agency img {
    vertical-align:baseline; 
    height: 1em;
    font-size: small;
}

.launch_table td.date, .launch_table td.countdown, .selection_count {
    font-family: monospace;
    font-weight: bold;
}

.icon {
	vertical-align: baseline;
    height: 1em;
}

label.filter {
    cursor: pointer;
    display:block;
    border:1px solid transparent;
    font-family: sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    
}

#filter-header {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

label.filter:hover {
    background-color: lightgray;
}

#filter-header:hover {
    background-color: lightgray;
}

#filter.gray_out_selections label.filter:not(.checked) {
    color: darkgray;
}

#launch_table.gray_out_unselected .unselected {
    color: darkgray;
}
#launch_table.gray_out_unselected .unselected img {
    opacity: 0.5;
}
#launch_table.hide_unselected .unselected {
    display: none !important;
}

td.payload img {
    vertical-align:top; 
    height:1.25em;
}

td.destination img {
    vertical-align:top; 
    height:1.25em;
}

td.map {
    text-align: center;
}

td.map img {
    vertical-align:top; 
    height:1.25em;
}

td.video {
    text-align: center;
}

td.video img {
    vertical-align: top; 
    height: 1.25em;
}

.flag {
    display: inline-block; 
    width: 24px;
}

.datepicker {
    width: 6em;
}

img.flag {
    width: 21px;
    vertical-align: baseline; 
}

.multiple_flags {
    display: none;
}

.multiple_flags_hover {
    font-size: smaller;
    text-align: center; 
    display: inline-block; 
    width: 24px;
}

.multiple_flags_hover:hover + div {
    position: absolute;
    display: block;
    background: white;
    border: 1px solid black;
    padding: 3px;
}
